html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul li,
ol li {
  list-style: none;
}

ul {
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
img,
p {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 940px;
  margin: 0 auto;
}
@media (max-width: 980px) {
  .container {
    width: 550px;
  }
}
@media (max-width: 580px) {
  .container {
    width: 350px;
  }
}

.container-price {
  width: 940px;
  margin: 0 auto;
}
@media (max-width: 980px) {
  .container-price {
    width: 550px;
  }
}
@media (max-width: 580px) {
  .container-price {
    width: 350px;
  }
}

.progress-line {
  background-color: red;
  height: 4px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

header {
  background-color: black;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 313px;
     -moz-column-gap: 313px;
          column-gap: 313px;
}
@media (max-width: 980px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-image: radial-gradient(rgb(36, 33, 33), black);
    -webkit-animation: burgerMenu 0.2s linear;
            animation: burgerMenu 0.2s linear;
  }
}

.header-nav__price {
  -webkit-column-gap: 193px;
     -moz-column-gap: 193px;
          column-gap: 193px;
}

.price-link {
  border-bottom: 4px solid white;
  padding-bottom: 20px;
}
@media (max-width: 980px) {
  .price-link {
    padding-bottom: 10px;
  }
}

.nav-list__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 980px) {
  .header-nav__hidden {
    display: none;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.nav__list li {
  padding: 25px 0;
}
.nav__list a {
  color: white;
}
@media (max-width: 980px) {
  .nav__list a {
    font-size: 25px;
  }
}
@media (max-width: 980px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.log-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
@media (max-width: 980px) {
  .log-in a {
    font-size: 25px;
  }
}
@media (max-width: 980px) {
  .log-in img {
    width: 25px;
  }
}
@media (max-width: 980px) {
  .log-in {
    margin: 55px 30px 0 0;
  }
}

.burger-icon {
  display: none;
}
@media (max-width: 980px) {
  .burger-icon {
    display: inline-block;
  }
}

.burger-icon {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}

.burger-icon span {
  background-color: #FFF;
  position: absolute;
  border-radius: 2px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
}

.burger-icon__price span {
  background-color: rgb(111, 111, 111);
}

.burger-icon span:nth-child(1) {
  top: 0px;
  left: 0px;
}

.burger-icon span:nth-child(2) {
  top: 13px;
  left: 0px;
}

.burger-icon span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

.burger-icon:not(.open):hover span:nth-child(1) {
  -webkit-transform: scaleX(0.8);
      -ms-transform: scaleX(0.8);
          transform: scaleX(0.8);
}

.burger-icon:not(.open):hover span:nth-child(2) {
  -webkit-transform: scaleX(0.5);
      -ms-transform: scaleX(0.5);
          transform: scaleX(0.5);
}

.burger-icon:not(.open):hover span:nth-child(3) {
  -webkit-transform: scaleX(0.8);
      -ms-transform: scaleX(0.8);
          transform: scaleX(0.8);
}

.burger-icon.open span:nth-child(1) {
  top: 13px;
}

.burger-icon.open span:nth-child(2) {
  top: 13px;
}

.burger-icon.open span:nth-child(3) {
  top: 13px;
}

@-webkit-keyframes burgerMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes burgerMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main {
  background-image: url(../img/bg.jpeg);
  background-size: cover;
}

.main-description__section {
  margin: 60px 0 70px 0;
}

.images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  text-transform: uppercase;
}

.text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  text-align: center;
  color: white;
  margin-top: 78px;
}
@media (max-width: 980px) {
  .text-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 980px) {
  .text-container .text-container__info {
    width: 300px;
  }
}
.text-container__square {
  background-color: white;
  margin: 0 auto;
  width: 29px;
  height: 29px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 15px auto 25px auto;
}
.text-container p {
  line-height: 24px;
}
.text-container h3 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
  text-transform: uppercase;
}

.our-news__article {
  background-color: rgb(249, 246, 243);
  padding: 47px 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-bottom: 65px;
}
@media (max-width: 980px) {
  .our-news__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 980px) {
  .shape {
    display: none;
  }
}

@media (max-width: 980px) {
  .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.our-news__text {
  font-family: "PT Sans Narrow", sans-serif;
  width: 342px;
  height: 342px;
  text-transform: uppercase;
}
@media (max-width: 980px) {
  .our-news__text {
    width: 300px;
    text-align: center;
  }
}
.our-news__text h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
}
.our-news__text a p {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding: 10px 30px;
  display: inline-block;
  background-color: black;
  color: white;
  margin-top: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.our-news__text a p:hover {
  opacity: 0.7;
}
.our-news__text h5 {
  margin: 25px 0 5px 0;
}

.shape img {
  height: 278px;
}

.our-gallery {
  text-transform: uppercase;
}
.our-gallery h2 {
  margin-bottom: 20px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
}
@media (max-width: 980px) {
  .our-gallery h2 {
    text-align: center;
  }
}

.swiper-slide img {
  width: 286px;
  height: 164px;
}

.swiper {
  width: 300px;
  height: 100%;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  background-color: black;
  border-radius: 0;
  width: 140px;
  height: 40px;
}

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 70%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  background-color: black;
  color: white;
  width: 140px;
  height: 44px;
}

@media (max-width: 980px) {
  .swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 87%);
    width: 100px;
    background-color: white;
    color: black;
    left: 200px;
    z-index: 555;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  left: var(--swiper-navigation-sides-offset, 0px);
  right: auto;
}

.contacts__section {
  background-color: rgb(249, 246, 243);
  margin-bottom: 65px;
}

.contacts__article {
  padding: 47px;
}

.contact-wrapper__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
}
@media (max-width: 980px) {
  .contact-wrapper__container {
    display: grid;
    grid-template-columns: repeat(1, 300px);
  }
}
.contact-wrapper__container h2 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
}
.contact-wrapper__container h5,
.contact-wrapper__container h4,
.contact-wrapper__container p {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.contacts-btn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.contacts-btn {
  background-color: black;
  width: 140px;
  padding: 10px;
  text-align: center;
}
@media (max-width: 980px) {
  .contacts-btn {
    width: 140px;
    display: block;
    margin: 0 auto;
  }
}
.contacts-btn a {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  text-transform: uppercase;
}

.contact-part1 {
  width: 321px;
}
@media (max-width: 980px) {
  .contact-part1 {
    width: 300px;
    text-align: center;
  }
}

.contact-part3 {
  width: 301px;
}
@media (max-width: 980px) {
  .contact-part3 {
    width: 300px;
    text-align: center;
  }
}

@media (max-width: 1250px) {
  .project-img {
    width: 900px;
  }
}
@media (max-width: 950px) {
  .project-img {
    width: 700px;
  }
}
@media (max-width: 750px) {
  .project-img {
    width: 500px;
  }
}
@media (max-width: 550px) {
  .project-img {
    width: 400px;
  }
}
@media (max-width: 450px) {
  .project-img {
    width: 350px;
  }
}
@media (max-width: 400px) {
  .project-img {
    width: 300px;
  }
}

.contacts__time-work {
  margin: 23px 0;
}

.contacts__address {
  margin-top: 19px;
}

.contact-part3 h5 {
  margin: 17px 0;
}

.contact-part3 form {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}
.contact-part3 form label {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 6px 17px;
}
.contact-part3 form input {
  height: 43px;
  padding: 10px;
}
.contact-part3 form input::-webkit-input-placeholder {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.contact-part3 form input::-moz-placeholder {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.contact-part3 form input:-ms-input-placeholder {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.contact-part3 form input::-ms-input-placeholder {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.contact-part3 form input::placeholder {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.sign-up__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__send-btn {
  background-color: black;
  color: white;
  width: 302px;
  padding: 10px;
  border: none;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.my-projects__section {
  display: block;
  width: 100%;
}

.my-projects__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  z-index: 999;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.my-projects__article h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (max-width: 450px) {
  .my-projects__article h1 {
    font-size: 34px;
  }
}

.cross-icon__close {
  color: white;
  font-size: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.cross-icon__close:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.swiper-slide__project img {
  cursor: pointer;
}

.main__price-page {
  background-color: rgb(249, 246, 243);
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.mens-classic__container1 {
  width: 240px;
}

.mens-classic__container2 {
  width: 460px;
}
@media (max-width: 980px) {
  .mens-classic__container2 {
    width: 260px;
  }
}
@media (max-width: 580px) {
  .mens-classic__container2 {
    width: 141px;
  }
}
.mens-classic__container2 h2 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  width: 175px;
}
@media (max-width: 580px) {
  .mens-classic__container2 h2 {
    font-size: 21px;
    width: 141px;
  }
}
.mens-classic__container2 table,
.mens-classic__container2 table * {
  border: 2px solid rgb(0, 0, 0);
  background: rgb(249, 246, 243);
  border-collapse: collapse;
  margin-top: 34px;
}
.mens-classic__container2 table td,
.mens-classic__container2 table * td {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  width: 231px;
}
.mens-classic__container2 table td:nth-child(1),
.mens-classic__container2 table * td:nth-child(1) {
  padding: 9px 19px;
  text-transform: uppercase;
}
.mens-classic__container2 table td:nth-child(2),
.mens-classic__container2 table * td:nth-child(2) {
  text-align: center;
}

.mens-classic__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 240px;
}
@media (max-width: 980px) {
  .mens-classic__wrapper {
    gap: 50px;
  }
}

.mens-classic__list li {
  position: relative;
  padding-block: 13px;
}
.mens-classic__list li:nth-child(2) {
  margin-top: 27px;
}
.mens-classic__list li:nth-child(5) {
  margin-bottom: 70px;
}

.square-price {
  width: 10px;
  height: 10px;
  background-color: black;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mens-classic__list li {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  left: 25px;
}

.mens-classic__list h2 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
@media (max-width: 580px) {
  .mens-classic__list h2 {
    font-size: 21px;
  }
}

.mens-classic__list li::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -22px;
  width: 10px;
  height: 10px;
  background-color: black;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.price-page__text {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin: 20px auto 39px auto;
}

.main-price__article h3 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
  margin-top: 54px;
  text-transform: uppercase;
}

.price-page__text :nth-child(3) {
  color: rgb(171, 169, 167);
}

.mens-classic__article h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-bottom: 63px;
  position: relative;
}
@media (max-width: 980px) {
  .mens-classic__article h1 {
    font-size: 38px;
    margin-top: 90px;
  }
}
@media (max-width: 580px) {
  .mens-classic__article h1 {
    font-size: 34px;
    margin-top: 75px;
  }
}
.mens-classic__article h1::before {
  content: "";
  width: 160px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 28px;
  left: 0;
}
@media (max-width: 980px) {
  .mens-classic__article h1::before {
    width: 40px;
  }
}
@media (max-width: 580px) {
  .mens-classic__article h1::before {
    display: none;
  }
}
.mens-classic__article h1::after {
  content: "";
  width: 160px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 28px;
  right: 0;
}
@media (max-width: 980px) {
  .mens-classic__article h1::after {
    width: 40px;
  }
}
@media (max-width: 580px) {
  .mens-classic__article h1::after {
    display: none;
  }
}

.about-us__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}
@media (max-width: 980px) {
  .about-us__text {
    gap: 50px;
  }
}
@media (max-width: 580px) {
  .about-us__text {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0;
  }
}
.about-us__text p {
  width: 380px;
  margin: 27px 0 78px 0;
}
@media (max-width: 580px) {
  .about-us__text p {
    margin-bottom: 15px;
  }
}

@media (max-width: 980px) {
  .about-us__article h1 {
    text-align: center;
  }
}

.footer {
  background-color: rgb(26, 26, 26);
  color: white;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 55px 0 40px 0;
}
.footer__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 980px) {
  .footer__article {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    place-content: center;
    place-items: center;
    text-align: center;
    gap: 50px;
  }
}
.footer__article .first-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}
@media (max-width: 980px) {
  .footer__article .first-list {
    width: 300px;
  }
}
.footer__article .second-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 980px) {
  .footer__article .second-list {
    width: 300px;
  }
}
.footer__article .third-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 980px) {
  .footer__article .third-list {
    width: 300px;
  }
}
.footer__article .third-list li:nth-child(even) {
  background-color: black;
  width: 140px;
  padding: 10px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__article .third-list li:nth-child(even):hover {
  opacity: 0.7;
}

@media (max-width: 580px) {
  .footer-price {
    margin-top: 45px;
  }
}

.nav__list li, .log-in p, .text-container p {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: white;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif;
}