%textStyle {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: white;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
}

%mainPriceText {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}